# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4

# Properties files
[*.properties]
charset = utf-8
indent_style = space
indent_size = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2

# YAML files
[*.yml]
charset = utf-8
indent_style = space
indent_size = 2

# JSON files
[*.json]
charset = utf-8
indent_style = space
indent_size = 2
