/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--lumo-primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--lumo-primary-color);
}

/* Scroll para FormLayout dentro de FormView */
vaadin-form-layout {
    overflow-y: auto;
}

form-view custom-field > vaadin-form-layout {
    overflow-y: auto;
}
